// Definición de variables de colores

$color-fucsia: #D11067;
$color-granate-oscuro: #7A1628;
$color-amarillo: #FFF616;
$color-amarillo-claro-fondo: #FEFBF4;
$color-texto-general: #172655;
$color-gris-oscuro: #333333;
$color-verde-fondo-icono-1: #DEF5F0;
$color-azul-fondo-icono-2: #DEF5F0;
$color-naranja-fondo-icono-3: #DEF5F0;
$color-gris-borde-tarjetas: #EDEDED;
$color-gris-fondo-top-categories: #EDEDED;





// Satisfy
@font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy/Satisfy-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.mayusculas {
    text-transform: uppercase;
}

.new-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d50000;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

header {
    background-color: $color-fucsia;
    color: #fff;
}




// Movil
@media (max-width: 768px) {

    header .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            p {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

        }

        .rrss {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

        }

    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 15px 20px;
        }

        li.especial {
            background-color: $color-fucsia;
            color: white;
            border-radius: 30px;
        }

        .login {
            color: $color-fucsia;
        }
    }




    nav ul li a {
        color: inherit;
        text-decoration: none;
        /* Elimina el subrayado */

        &:hover {
            color: $color-amarillo;
            text-decoration: underline;
        }


    }

    nav ul li.especial a {
        color: white;
        font-weight: bold;


    }


    .hero {
        text-align: center;
        background-image: url('../img/blackboard.jpg');
        background-size: cover;
        color: #fff;
        padding: 0px 20px;

        h1 {
            font-family: 'Satisfy';
            font-weight: 400;
            font-size: 50px;

            .amarillo {
                color: $color-amarillo;


            }
        }
    }

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        width: fit-content;
        background-color: white;
        padding: 10px 10px;
        border-radius: 30px;
    }

    .search-bar input {
        border-radius: 30px;
        padding: 10px;
        font-size: 16px;
        border: none;
        width: 300px;

        &:focus {
            outline: none;
        }
    }

    .search-bar .buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        button {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: $color-fucsia;
            color: #fff;
            cursor: pointer;

        }
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 0;
    }

    .features div {
        text-align: center;
    }

    .courses {
        text-align: center;
        margin: 20px 0;

        .textos {
            h2 {
                color: $color-fucsia;
                font-weight: 800px;
            }
        }
    }

    .boton-normal {
        button {
            background-color: transparent;
            color: $color-fucsia;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $color-fucsia;

        }
    }

    .boton-final {
        button {
            color: white;
            background-color: transparent;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid white;
        }
    }

    .course-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .course-item {
        flex: 1 1 calc(100% - 16px); // Cada ítem ocupa el 25% del ancho del contenedor, menos el gap
        box-sizing: border-box; // Asegura que el padding y el borde se incluyan en el ancho y alto del elemento
        padding: 16px; // Padding interno de cada ítem
    }

    .course-item .card {
        margin: 20px 50px;
        border: 1px solid $color-gris-borde-tarjetas;
        border-radius: 10px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .course-item .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        transform: translateY(-5px);
    }

    .course-item img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .course-content {
        img {
            width: 15px;
            height: auto;
            padding-left: 10px;
        }

        .titulo_cursos {
            color: $color-granate-oscuro;
            font-weight: 800px;
        }
    }

    .learning-path {
        text-align: center;
        background-image: url(../img/learn-path.jpg);
        padding: 50px 20px;
        margin: 20px 0;
        font-family: 'Satisfy';
        font-weight: 400;
        font-size: 40px;
        color: white;
    }

    .solutions {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .lado-izq {
            display: flex;
            flex-direction: column;
            width: 100%;


            h2 {
                color: $color-granate-oscuro;
                font-family: 'Satisfy';
                font-weight: 400;
                font-size: 40px;
            }

            button {

                background-color: transparent;
                color: $color-fucsia;
                border-radius: 10px;
                border: 1px solid $color-fucsia;
                cursor: pointer;
                width: fit-content;
                margin-left: 10%;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 20px;
            }

        }

        .lado-dcho {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                height: auto;
                border-radius: 10px;
            }
        }
    }

    .solution-items {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .solution-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .part1 {
            width: 15%;
        }

        .part2 {
            width: 85%;
        }

        img {
            max-width: 40px;
            height: auto;
            padding: 10px;

            border-radius: 30px;
        }

        .people {
            background-color: rgba(135, 197, 116, 0.2);
        }

        .speaker {
            background-color: rgba(43, 136, 243, 0.2);
        }

        .rocket {
            background-color: rgba(252, 41, 41, 0.329);
        }

        h3 {
            color: $color-granate-oscuro;
            font-size: 16px;
        }

        p {
            margin-right: 10px;
            font-size: 14px;
        }


    }

    .container-categories {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-gris-fondo-top-categories;
        text-align: center;
    }

    .title {
        color: #e91e63;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .categories {
        width: 80%;
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }

    .category {
        background-color: $color-texto-general;
        color: white;
        border-radius: 12px;
        padding: 40px 20px;

        flex: 1 1 calc(100% - 16px);
        box-sizing: border-box;
        text-align: left;
        transition: background-color 0.3s ease, transform 0.3s ease;

        h2 {
            margin: 0 0 10px 0;
            text-align: center;
        }

        p {
            margin: 0;
            text-align: center;
        }

        &:hover {
            background-color: #2c3e50;
            transform: translateY(-5px);
            background-color: $color-fucsia;
        }


    }

    .instructor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 20px;

        img {
            border-radius: 10px;
        }

        div {
            width: 100%;
            padding: 20px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            h2 {

                color: $color-granate-oscuro;
                text-align: left;
                width: 100%;

            }

            p {
                text-align: left;
            }

            button {
                align-self: flex-start;
                background-color: transparent;
                color: $color-fucsia;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid $color-fucsia;
                cursor: pointer;
                width: fit-content;
            }


        }
    }

    footer {
        box-sizing: border-box;
        background-color: $color-texto-general;
        color: white;
        padding: 20px;
        text-align: center;


    }

    .newsletter {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .end-top {
            box-sizing: border-box;
            padding-right: 30px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .top-left {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

                h2 {
                    font-size: 14px;
                    font-weight: 100px;
                }

                .bordeado {
                    // border: 1px solid white;
                    background-color: rgba(86, 119, 228, 0.19);
                    padding: 10px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                }

                .links {
                    font-size: 10px;

                    :hover {
                        text-decoration: underline;
                    }
                }
            }

            .top-right {
                display: flex;
                justify-content: center;
                align-items: center;

                .contact {
                    flex-direction: column;
                }
            }
        }

        .end-bot {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }

    .newsletter h2 {
        margin: 0 0 10px;

    }

    .newsletter form {
        display: flex;
        justify-content: center;
        align-items: center;

        ::placeholder {
            color: white;
        }
    }

    .newsletter input[type="email"] {
        padding: 10px;
        border: none;

        color: white;
        border-radius: 20px 0 0 20px;
        outline: none;
        background-color: transparent;
    }

    .newsletter button {
        padding: 10px;
        border: none;
        background-color: white;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    .links {
        margin: 20px 0;
    }

    .links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

    .credits p {
        margin: 20px 0;
        font-size: 14px;
    }

    .credits a {
        color: white;
        text-decoration: none;
    }

    .contact p {
        margin: 20px 0;
        font-size: 14px;
        text-align: start;
    }

    .contact img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .contact a {
        color: white;
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    .end-bot {
        width: 90%;
        margin-left: 5%;
        text-align: start;

        p {
            font-size: 12px;
        }

        a {
            background-color: rgba(86, 119, 228, 0.19);
        }

    }

    // **********Segunda pagina**********
    .contenido {
        max-width: 100vh;
        box-sizing: border-box;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;



        .contenido__instructor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            h1 {
                width: 100%;
                color: $color-fucsia;
                font-size: 30px;
                margin-bottom: 0;
            }

            p {
                padding-right: 20px;
            }
        }

        .contenido__steps {
            box-sizing: border-box;

            .intro__steps {
                h2 {
                    color: $color-fucsia;
                }
            }

            .resume__steps {
                box-sizing: border-box;
                border: 2px solid $color-fucsia;
                color: $color-fucsia;
                padding: 15px;
                margin-bottom: 10px;

                ol {
                    li {
                        font-weight: bold;
                        margin: 10px 0px;

                        a {
                            color: $color-fucsia;
                            text-decoration: none;
                            font-weight: bold;

                        }
                    }
                }
            }

            .articulos__steps {
                box-sizing: border-box;
                max-width: 80vw;


                ol {}

                .pursue {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px 20px;
                    border: 1px solid $color-gris-borde-tarjetas;


                    p {
                        display: flex;
                        align-items: center;
                        font-size: 14px;

                        b {
                            padding: 0px 4px;
                        }

                        img {
                            padding-right: 10px;
                        }
                    }

                    margin-bottom: 20px;
                }

                .skills {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px 20px;
                    border: 1px solid $color-gris-borde-tarjetas;

                    .primera__ul__skills {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding-left: 20px;

                        li {
                            list-style: none;

                            ul {
                                padding-left: 0px;

                                li {
                                    list-style: outside;
                                }
                            }
                        }

                    }
                }

                h3 {
                    font-weight: bold;
                }

                h4 {
                    font-weight: bold;

                }

                button {
                    padding: 20px;
                    border: 1px solid $color-fucsia;
                    border-radius: 10px;
                    background-color: transparent;
                    color: $color-fucsia;
                }
            }
        }
    }
}

// Tablet
@media (min-width: 769px) and (max-width: 1024px) {

    header .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            p {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

        }

        .rrss {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

        }

    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 15px 20px;
        }

        li.especial {
            background-color: $color-fucsia;
            color: white;
            border-radius: 30px;
        }

        .login {
            color: $color-fucsia;
        }
    }




    nav ul li a {
        color: inherit;
        text-decoration: none;
        /* Elimina el subrayado */

        &:hover {
            color: $color-amarillo;
            text-decoration: underline;
        }


    }

    nav ul li.especial a {
        color: white;
        font-weight: bold;


    }


    .hero {
        text-align: center;
        background-image: url('../img/blackboard.jpg');
        background-size: cover;
        color: #fff;
        padding: 0px 20px;

        h1 {
            font-family: 'Satisfy';
            font-weight: 400;
            font-size: 50px;

            .amarillo {
                color: $color-amarillo;


            }
        }
    }

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        width: fit-content;
        background-color: white;
        padding: 10px 10px;
        border-radius: 30px;
    }

    .search-bar input {
        border-radius: 30px;
        padding: 10px;
        font-size: 16px;
        border: none;
        width: 300px;

        &:focus {
            outline: none;
        }
    }

    .search-bar .buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        button {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: $color-fucsia;
            color: #fff;
            cursor: pointer;

        }
    }

    .features {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }

    .features div {
        text-align: center;
    }

    .courses {
        text-align: center;
        margin: 20px 0;

        .textos {
            h2 {
                color: $color-granate-oscuro;
                font-weight: 800px;
            }
        }
    }

    .boton-normal {
        button {
            background-color: transparent;
            color: $color-fucsia;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $color-fucsia;

        }
    }

    .boton-final {
        button {
            color: white;
            background-color: transparent;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid white;
        }
    }

    .course-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .course-item {
        flex: 1 1 calc(50% - 16px); // Cada ítem ocupa el 25% del ancho del contenedor, menos el gap
        box-sizing: border-box; // Asegura que el padding y el borde se incluyan en el ancho y alto del elemento
        padding: 16px; // Padding interno de cada ítem
    }

    .course-item .card {
        margin: 20px 50px;
        border: 1px solid $color-gris-borde-tarjetas;
        border-radius: 10px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .course-item .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        transform: translateY(-5px);
    }

    .course-item img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .course-content {
        img {
            width: 15px;
            height: auto;
            padding-left: 10px;
        }

        .titulo_cursos {
            color: $color-granate-oscuro;
            font-weight: 800px;
        }
    }

    .learning-path {
        text-align: center;
        background-image: url(../img/learn-path.jpg);
        padding: 50px 20px;
        margin: 20px 0;
        font-family: 'Satisfy';
        font-weight: 400;
        font-size: 40px;
        color: white;
    }

    .solutions {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .lado-izq {
            display: flex;
            flex-direction: column;
            width: 100%;


            h2 {
                color: $color-granate-oscuro;
                font-family: 'Satisfy';
                font-weight: 400;
                font-size: 40px;
            }

            button {

                background-color: transparent;
                color: $color-fucsia;
                border-radius: 10px;
                border: 1px solid $color-fucsia;
                cursor: pointer;
                width: fit-content;
                margin-left: 10%;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 20px;
            }

        }

        .lado-dcho {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                height: auto;
                border-radius: 10px;
            }
        }
    }

    .solution-items {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .solution-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .part1 {
            width: 15%;
        }

        .part2 {
            width: 85%;
        }

        img {
            max-width: 40px;
            height: auto;
            padding: 10px;

            border-radius: 30px;
        }

        .people {
            background-color: rgba(135, 197, 116, 0.2);
        }

        .speaker {
            background-color: rgba(43, 136, 243, 0.2);
        }

        .rocket {
            background-color: rgba(252, 41, 41, 0.329);
        }

        h3 {
            color: $color-granate-oscuro;
            font-size: 16px;
        }

        p {
            margin-right: 10px;
            font-size: 14px;
        }


    }

    .container-categories {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-gris-fondo-top-categories;
        text-align: center;
    }

    .title {
        color: #e91e63;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .categories {
        width: 80%;
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }

    .category {
        background-color: $color-texto-general;
        color: white;
        border-radius: 12px;
        padding: 40px 20px;

        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
        box-sizing: border-box;
        text-align: left;
        transition: background-color 0.3s ease, transform 0.3s ease;

        h2 {
            margin: 0 0 10px 0;
            text-align: center;
        }

        p {
            margin: 0;
            text-align: center;
        }

        &:hover {
            background-color: #2c3e50;
            transform: translateY(-5px);
            background-color: $color-fucsia;
        }



        &.large {
            flex: 1 1 calc(50% - 16px);
            max-width: calc(50% - 16px);
        }
    }

    .instructor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 20px;

        img {
            border-radius: 10px;
        }

        div {
            width: 40%;
            padding: 20px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            h2 {

                color: $color-granate-oscuro;
                text-align: left;
                width: 100%;

            }

            p {
                text-align: left;
            }

            button {
                align-self: flex-start;
                background-color: transparent;
                color: $color-fucsia;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid $color-fucsia;
                cursor: pointer;
                width: fit-content;
            }


        }
    }

    footer {
        box-sizing: border-box;
        background-color: $color-texto-general;
        color: white;
        padding: 20px;
        text-align: center;


    }

    .newsletter {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .end-top {
            box-sizing: border-box;
            padding-right: 30px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .top-left {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

                h2 {
                    font-size: 14px;
                    font-weight: 100px;
                }

                .bordeado {
                    // border: 1px solid white;
                    background-color: rgba(86, 119, 228, 0.19);
                    padding: 10px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                }

                .links {
                    font-size: 10px;

                    :hover {
                        text-decoration: underline;
                    }
                }
            }

            .top-right {
                display: flex;
                justify-content: center;
                align-items: center;

                .contact {
                    flex-direction: column;
                }
            }
        }

        .end-bot {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }

    .newsletter h2 {
        margin: 0 0 10px;

    }

    .newsletter form {
        display: flex;
        justify-content: center;
        align-items: center;

        ::placeholder {
            color: white;
        }
    }

    .newsletter input[type="email"] {
        padding: 10px;
        border: none;

        color: white;
        border-radius: 20px 0 0 20px;
        outline: none;
        background-color: transparent;
    }

    .newsletter button {
        padding: 10px;
        border: none;
        background-color: white;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    .links {
        margin: 20px 0;
    }

    .links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

    .credits p {
        margin: 20px 0;
        font-size: 14px;
    }

    .credits a {
        color: white;
        text-decoration: none;
    }

    .contact p {
        margin: 20px 0;
        font-size: 14px;
        text-align: start;
    }

    .contact img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .contact a {
        color: white;
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    .end-bot {
        width: 90%;
        margin-left: 5%;
        text-align: start;

        p {
            font-size: 12px;
        }

        a {
            background-color: rgba(86, 119, 228, 0.19);
        }

    }
}

// Pc
@media (min-width: 1025px) {
    header .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 15px 20px;
        }

        li.especial {
            background-color: $color-fucsia;
            color: white;
            border-radius: 30px;
        }

        .login {
            color: $color-fucsia;
        }
    }


    header .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            p {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }

        }

        .rrss {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

        }

    }

    nav ul li a {
        color: inherit;
        text-decoration: none;
        /* Elimina el subrayado */

        &:hover {
            color: $color-amarillo;
            text-decoration: underline;
        }


    }

    nav ul li.especial a {
        color: white;
        font-weight: bold;


    }


    .hero {
        text-align: center;
        background-image: url('../img/blackboard.jpg');
        background-size: cover;
        color: #fff;
        padding: 0px 20px;

        h1 {
            font-family: 'Satisfy';
            font-weight: 400;
            font-size: 50px;

            .amarillo {
                color: $color-amarillo;


            }
        }
    }

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        width: fit-content;
        background-color: white;
        padding: 10px 10px;
        border-radius: 30px;
    }

    .search-bar input {
        border-radius: 30px;
        padding: 10px;
        font-size: 16px;
        border: none;
        width: 300px;

        &:focus {
            outline: none;
        }
    }

    .search-bar .buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        button {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: $color-fucsia;
            color: #fff;
            cursor: pointer;

        }
    }

    .features {
        display: flex;
        justify-content: space-around;
        padding: 40px;
    }

    .features div {
        text-align: center;
    }

    .courses {
        text-align: center;
        margin: 20px 0;

        .textos {
            h2 {
                color: $color-granate-oscuro;
                font-weight: 800px;
            }
        }
    }

    .boton-normal {
        button {
            background-color: $color-fucsia;
            color: white;
            padding: 20px;
            border-radius: 10px;
            border: none;

        }
    }

    .boton-final {
        button {
            color: yellow;
            background-color: transparent;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid yellow;
        }
    }

    .course-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .course-item {
        flex: 1 1 calc(25% - 16px); // Cada ítem ocupa el 25% del ancho del contenedor, menos el gap
        box-sizing: border-box; // Asegura que el padding y el borde se incluyan en el ancho y alto del elemento
        padding: 16px; // Padding interno de cada ítem
    }

    .course-item .card {
        margin: 20px 50px;
        border: 1px solid $color-gris-borde-tarjetas;
        border-radius: 10px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .course-item .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        transform: translateY(-5px);
    }

    .course-item img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .course-content {
        img {
            width: 15px;
            height: auto;
            padding-left: 10px;
        }

        .titulo_cursos {
            color: $color-granate-oscuro;
            font-weight: 800px;
        }
    }

    .learning-path {
        text-align: center;
        background-image: url(../img/learn-path.jpg);
        padding: 50px 20px;
        margin: 20px 0;
        font-family: 'Satisfy';
        font-weight: 400;
        font-size: 40px;
        color: white;
    }

    .solutions {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .lado-izq {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 20%;


            h2 {
                color: $color-granate-oscuro;
                font-family: 'Satisfy';
                font-weight: 400;
                font-size: 40px;
            }

            button {

                background-color: $color-fucsia;
                color: white;
                padding: 15px 20px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                width: fit-content;


            }

        }

        .lado-dcho {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;

            img {
                width: 50%;
                height: auto;
                border-radius: 10px;
            }
        }
    }

    .solution-items {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .solution-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .part1 {
            width: 15%;
        }

        .part2 {
            width: 85%;
        }

        img {
            max-width: 40px;
            height: auto;
            padding: 10px;

            border-radius: 30px;
        }

        .people {
            background-color: rgba(135, 197, 116, 0.2);
        }

        .speaker {
            background-color: rgba(43, 136, 243, 0.2);
        }

        .rocket {
            background-color: rgba(252, 41, 41, 0.329);
        }

        h3 {
            color: $color-granate-oscuro;
            font-size: 16px;
        }

        p {
            margin-right: 10px;
            font-size: 14px;
        }


    }

    .container-categories {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-gris-fondo-top-categories;
        text-align: center;
    }

    .title {
        color: #e91e63;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .categories {
        width: 80%;
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .category {
        background-color: $color-texto-general;
        color: white;
        border-radius: 12px;
        padding: 40px 20px;

        flex: 1 1 calc(25% - 16px);
        max-width: calc(25% - 16px);
        box-sizing: border-box;
        text-align: left;
        transition: background-color 0.3s ease, transform 0.3s ease;

        h2 {
            margin: 0 0 10px 0;
            text-align: center;
        }

        p {
            margin: 0;
            text-align: center;
        }

        &:hover {
            background-color: #2c3e50;
            transform: translateY(-5px);
            background-color: $color-fucsia;
        }



        &.large {
            flex: 1 1 calc(50% - 16px);
            max-width: calc(50% - 16px);
        }
    }

    .instructor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 20px;

        img {
            border-radius: 10px;
        }

        div {
            width: 40%;
            padding: 20px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            h2 {

                color: $color-granate-oscuro;
                text-align: left;
                width: 100%;

            }

            p {
                text-align: left;
            }

            button {
                align-self: flex-start;
                background-color: $color-fucsia;
                color: white;
                padding: 15px 20px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                width: fit-content;
            }


        }
    }

    footer {
        box-sizing: border-box;
        background-color: $color-texto-general;
        color: white;
        padding: 20px;
        text-align: center;


    }

    .newsletter {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .end-top {
            box-sizing: border-box;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .top-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                padding-left: 10%;

                h2 {
                    font-size: 14px;
                    font-weight: 100px;
                }

                .bordeado {
                    // border: 1px solid white;
                    background-color: rgba(86, 119, 228, 0.19);
                    padding: 10px;
                    border-radius: 30px;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                }

                .links {
                    font-size: 10px;

                    :hover {
                        text-decoration: underline;
                    }
                }
            }

            .top-right {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .contact {
                    flex-direction: column;
                }
            }
        }

        .end-bot {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .newsletter h2 {
        margin: 0 0 10px;

    }

    .newsletter form {
        display: flex;
        justify-content: center;
        align-items: center;

        ::placeholder {
            color: white;
        }
    }

    .newsletter input[type="email"] {
        padding: 10px;
        border: none;

        color: white;
        border-radius: 20px 0 0 20px;
        outline: none;
        background-color: transparent;
    }

    .newsletter button {
        padding: 10px;
        border: none;
        background-color: $color-fucsia;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    .links {
        margin: 20px 0;
    }

    .links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

    .credits p {
        margin: 20px 0;
        font-size: 14px;
    }

    .credits a {
        color: white;
        text-decoration: none;
    }

    .contact p {
        margin: 20px 0;
        font-size: 14px;
        text-align: start;
    }

    .contact img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .contact a {
        color: white;
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }

    .end-bot {
        width: 90%;
        margin-left: 5%;
        text-align: start;

        p {
            font-size: 12px;
        }

        a {
            background-color: rgba(86, 119, 228, 0.19);
        }

    }

    // Tercera pagina

    .contenido__contacto {
        box-sizing: border-box;
        max-width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;

        h1 {
            color: $color-fucsia;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .articulos__contacto {
            display: flex;
            flex-direction: row;

            .contacto__expo {
                min-width: 85%;
                margin-bottom: 40px;

                h2,
                h3 {
                    color: $color-granate-oscuro;
                }

                h3 {
                    font-size: 16px;
                    font-weight: bold;
                }

                .contacto__offices {
                    .contacto__offices__list {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 16px;

                        .contacto__offices__item {
                            width: fit-content;
                            flex: 1 1 calc(40% - 16px);

                            a {
                                text-decoration: none;
                                color: $color-fucsia;
                            }
                        }
                    }
                }

                .contacto__ambassadors {

                    .contacto__ambassadors__list {

                        width: 90%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: center;
                        gap: 10px;
                    }

                    .content__ambbassador__t1 {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        background-color: $color-gris-borde-tarjetas;
                        flex: 1 1 calc(50% - 16px);
                        justify-content: center;
                        text-align: center;
                        padding: 0px 30px;

                        .a {
                            color: $color-granate-oscuro;
                        }

                        .mailto {
                            a {
                                text-decoration: none;
                                color: $color-fucsia;

                            }
                        }
                    }

                    .contacto__ambassadors__item {

                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        .card__img {
                            margin: 10px 0px;
                            position: relative;
                            display: inline-block;
                            flex-direction: column;
                            border-radius: 50%;
                            /* Hace que el contenedor de la imagen sea redondeado */
                            position: relative;

                            /* Asegura que la imagen redondeada no se desborde */
                            img {
                                display: block;
                                max-width: 100%;
                                height: auto;
                            }

                            .cara {
                                border: 4px solid black;
                                border-radius: 50%;
                            }

                            .bandera {
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                width: 30px;
                                height: auto;
                                z-index: 1;
                                border-radius: 50%;
                                border: 4px solid white;

                            }
                        }
                    }
                }
            }

            .contacto__formulario {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-content: center;
                background-color: $color-amarillo-claro-fondo;
                max-width: 20%;
                padding: 0px 10px;
                border: 1px solid $color-gris-borde-tarjetas;
                border-radius: 10px;

                h2,
                h3 {
                    color: $color-granate-oscuro;
                }

                p {
                    font-size: 12px;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin-bottom: 10px;
                        padding: 5px;
                        border: 1px solid $color-gris-oscuro;
                    }



                    button {
                        background-color: $color-texto-general;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                        margin: 10px 0px;
                    }
                }

            }
        }

    }

}

.active__link {
    color: $color-amarillo;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}